body
{
text-align: center;
background-color:grey;
font-family:"segoe Print", "Buxton Sketch", "Monotype Corsiva", Arial, Verdana, Helvetica;
font-size: 20pt;
color:white;
}
/* autor: Jakub Grodzicki */