body
{
	font-size: 25pt;
	color: white;
	background-color: black;
}
/* autor: Jakub Grodzicki */

div.menu_tlo
{
	height: 27%;
	width: 90%;
	background-color: grey;
	box-shadow: #666666 0.5em 0.5em 0.5em;
}

div.strona
{
	height: 250px;
	width: 90%;
	background: grey;
	box-shadow: #666666 0.5em 0.5em 0.5em;
}



