body{background-color:grey;
color: white;
font-size: 25px;
font-weight: 900;
}

#divik {
position: fixed;
left: 2%;
text-align: center;
}
#menu{
font-weight:bold;
padding:0px;
margin:20px;
list-style: none;
}
#menu li{
font-size: 15px;
background-color: yellow;
float:left;
display: block;
width:15vw;
height:50px;
cursor: pointer;
color: black;
border-radius: 45%;
border-style: double;
box-shadow: black 0.5em 0.5em 0.5em;
padding:15px 0px 0px 0px;
}
#menu li li{
float: none;
}
#menu li li a{
text-decoration: none;
}
#menu li ul{
display: none;
padding:0px;
}
#menu li:hover ul{
display: block;
color: white;
opacity: 0.8;
}
#menu li li:hover{
background-image: url(gif.gif);
color: white;
}
a{
text-decoration:none;
color:black;
}
a:hover{
text-decoration:none;
color: grey;
font-weight: bold;
}
